<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.weblab.server.mapper.CourseMapper">

    <!-- 基础 ResultMap 映射 -->
<!--    <select id="getById" resultMap="CourseVoResult">-->
<!--        SELECT c.*, t.*-->
<!--        FROM course c-->
<!--        LEFT JOIN teacher_course tc ON c.id = tc.course_id-->
<!--        LEFT JOIN teacher t ON tc.teacher_id = t.id-->
<!--        WHERE id = #{id}-->
<!--    </select>-->
</mapper>